//Add your own editor styles here or comment out the next line if you want to pull in the whole Bootstrap stuff
//@import "theme";

#content {
    margin-top: 3rem;
}

.fixed-top {
    margin-top: 32px;
}

.featurette-heading {
    margin-top: rem;
}


