/* eslint-disable */

<template>
	<div class="bookings">
		<div id="output">
			<h1>Search your bookings</h1>
			<template>
				<v-layout row wrap>
					<v-flex xs12 md4 offset-md3>
						<v-menu ref="menu" :close-on-content-click="false" v-model="menu" :nudge-left="40" :return-value.sync="from_date" lazy transition="scale-transition"
						    offset-y full-width min-width="290px">
							<v-text-field slot="activator" v-model="from_date" label="Your arrival date" prepend-icon="event" readonly></v-text-field>
							<v-date-picker v-model="from_date" @input="$refs.menu.save(from_date)">
							</v-date-picker>
						</v-menu>
					</v-flex>
					<v-flex xs12 md4>
						<v-menu ref="menu2" :close-on-content-click="false" v-model="menu2" :nudge-left="40" :return-value.sync="to_date" lazy transition="scale-transition"
						    offset-y full-width min-width="290px">
							<v-text-field slot="activator" v-model="to_date" label="Your departure date" prepend-icon="event" readonly></v-text-field>
							<v-date-picker v-model="to_date" @input="$refs.menu2.save(to_date)"></v-date-picker>
						</v-menu>
						<v-spacer></v-spacer>
					</v-flex>
				</v-layout>
				<v-layout row>
					<v-flex sm4 offset-md4>
						<v-checkbox v-model="filter_selected" label="Cancelled" value="cancelled"></v-checkbox>
					</v-flex>
					<v-flex sm4>
						<v-checkbox v-model="filter_selected" label="Provisional" value="provisional"></v-checkbox>
					</v-flex>
					<v-flex sm4>
						<v-checkbox v-model="filter_selected" label="Unconfirmed" value="unconfirmed"></v-checkbox>
					</v-flex>
				</v-layout>
				<v-layout row>
					<v-flex sm12>
						<p>You have selected: {{ filter_selected }}</p>
					</v-flex>
				</v-layout>

				<v-layout row>
					<v-flex sm12 offset-sm1>
						<v-btn color="cyan" dark large @click='getbookings'>
							Get Bookings
						</v-btn>
					</v-flex>
				</v-layout>
				<template>
					<div class="text-xs-center">
						<v-dialog v-model="dialog" width="500">
							<v-card>
								<v-card-title class="headline grey lighten-2" primary-title>
									Attention
								</v-card-title>

								<v-card-text>
									To help us search your bookings please select a start and end date
								</v-card-text>

								<v-divider></v-divider>

								<v-card-actions>
									<v-spacer></v-spacer>
									<v-btn color="primary" flat @click="dialog = false">
										OK
									</v-btn>
								</v-card-actions>
							</v-card>
						</v-dialog>
					</div>
				</template>
			</template>

			<template>
				<!-- item key is related to the checkboxes and expand -->
				<v-data-table
				v-model="selected" 
				:headers="headers" 
				:items="bookings"
				item-key="base.ref"
				select-all
				:pagination.sync="pagination" 
				class="elevation-1">
					<template slot="headers" slot-scope="props">
						<tr>
							<th>
								<v-checkbox 
								:input-value="props.all" 
								:indeterminate="props.indeterminate" 
								primary 
								hide-details 
								@click.native="toggleAll">
								</v-checkbox>
							</th>
							<th 
							v-for="header in props.headers" 
							:key="header.text" 
							:class="['column sortable', 
							pagination.descending ? 'desc' : 'asc', 
							header.value === pagination.sortBy ? 'active' : '']"
							    @click="changeSort(header.value)">
								<v-icon small>arrow_upward</v-icon>
								{{ header.text }}
							</th>
						</tr>
					</template>
					<template slot="items" slot-scope="props">
						<tr @click="props.selected = !props.selected" @dblclick="props.expanded = !props.expanded">
							<td>
								<v-checkbox 
								:input-value="props.selected" 
								primary 
								hide-details>
								</v-checkbox>
							</td>
							<td class="text-xs-left" value="foo">{{ props.item.base.ref }}</td>
							<td class="text-xs-left">{{ props.item.base.created | moment('dddd, MMMM Do YYYY') }}</td>
							<td class="text-xs-left">{{ props.item.base.arrival | moment('dddd, MMMM Do YYYY') }}</td>
							<td class="text-xs-left">{{ props.item.base.departure | moment('dddd, MMMM Do YYYY')}}</td>
							<td class="text-xs-left">{{ props.item.cost.base_cost | currency }}</td>
							<td class="text-xs-left">{{ props.item.cost.due | currency }}</td>
						</tr>
					</template>
					<template slot="expand" slot-scope="props">
      					<v-card flat>
       						 <v-card-text>Peek-a-boo!</v-card-text>
      					</v-card>
    				</template>
					<template slot="no-data">
						<v-alert :value="true" color="error" icon="warning">
							Sorry, there are no bookings that match your search criteria. Please try again
						</v-alert>
					</template>
				</v-data-table>
			</template>

		</div>
	</div>

</template>


<script>
	import AuthenticationService from "@/services/AuthenticationService";
	export default {
		data() {
			return {
				pagination: {
					sortBy: "base.ref"
				},
				selected: [],
				headers: [{
						text: "Booking reference",
						align: "left",
						value: "base.ref"
					},
					{
						text: "Date Created",
						align: "left",
						value: "base.created"
					},
					{
						text: "Arrival Date",
						align: "left",
						value: "base.arrival"
					},
					{
						text: "Departure Date",
						align: "left",
						value: "base.departure"
					},
					{
						text: "Base Cost",
						align: "left",
						value: "base.base_cost"
					},
					{
						text: "Due",
						align: "left",
						value: "base.due"
					}
				],
				bookings: [],
				selected: [],
				dialog: false,
				sortKey: ["ref"],
				sortOrder: ["asc"],
				from_date: "",
				to_date: "2018-10-12",
				filter_selected: [],
				moment: "dddd, MMMM Do YYYY",
				menu: false,
				modal: false,
				menu2: false,
				formatted: "",
			};
		},
		methods: {
			async getbookings() {
				if (this.from_date == "" || this.to_date == "") {
					this.dialog = true;
				} else {
					var authToken =
						"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6IlJlYWQiLCJpYXQiOjE1MzI1OTkxNDksImV4cCI6MTU0MDM3NTE0OX0.72BAMAQ3SYBExjjyBg9-G1lbGI_7MIlIu1-wUoFK1mw";
					const response = await AuthenticationService.bookings(
						authToken,
						this.from_date,
						this.to_date,
						this.filter_selected
					);
					this.bookings = response.data;
				}
			},
			toggleAll() {
				if (this.selected.length) this.selected = [];
				else this.selected = this.bookings.slice();
			},
			changeSort(column) {
				if (this.pagination.sortBy === column) {
					this.pagination.descending = !this.pagination.descending;
				} else {
					this.pagination.sortBy = column;
					this.pagination.descending = false;
				}
			}
		}
	};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
	.primary {
		background-color: #7cb342 !important;
		border-color: #7cb342 !important;
	}

	.bookings {
		text-align: center;
		padding-top: 20px;
	}

	button[data-v-75dcf710],
	input[data-v-75dcf710],
	select[data-v-75dcf710],
	textarea[data-v-75dcf710] {
		background-color: transparent;
		border-style: none;
		color: inherit;
		width: 200px;
		border: 1px, solid, #7cb342 !important;
		border: 1px solid #7cb342 !important;
		margin-top: 10px;
	}

	h1,
	h2 {
		font-weight: normal;
	}

	ul {
		list-style-type: none;
		padding: 0;
	}

	li {
		display: inline-block;
		margin: 0 10px;
	}

	a {
		color: #42b983;
	}
</style>