/* eslint-disable */

<template>
	<div class="bookings">
		<div id="output">
			<h1>Place your bookings</h1>
			<template>
  <v-stepper v-model="e1">
    <v-stepper-header>
      <v-stepper-step :complete="e1 > 1" step="1">Name of step 1</v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step :complete="e1 > 2" step="2">Name of step 2</v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step step="3">Name of step 3</v-stepper-step>
    </v-stepper-header>

    <v-stepper-items>
      <v-stepper-content step="1">
        <v-card
          class="mb-5"
          color="grey lighten-1"
          height="200px"
        ></v-card>

        <v-btn
          color="primary"
          @click="e1 = 2"
        >
          Continue
        </v-btn>

        <v-btn flat>Cancel</v-btn>
      </v-stepper-content>

      <v-stepper-content step="2">
        <v-card
          class="mb-5"
          color="grey lighten-1"
          height="200px"
        ></v-card>

        <v-btn
          color="primary"
          @click="e1 = 3"
        >
          Continue
        </v-btn>

        <v-btn flat>Cancel</v-btn>
      </v-stepper-content>

      <v-stepper-content step="3">
        <v-card
          class="mb-5"
          color="grey lighten-1"
          height="200px"
        ></v-card>

        <v-btn
          color="primary"
          @click="e1 = 1"
        >
          Continue
        </v-btn>

        <v-btn flat>Cancel</v-btn>
      </v-stepper-content>
    </v-stepper-items>
  </v-stepper>
</template>
			
		</div>
	</div>

</template>


<script>
	import AuthenticationService from "@/services/AuthenticationService";
	export default {
		data() {
			return {
				e1: 0
				
			};
		},
		methods: {
		
			}

		};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
	.primary {
		background-color: #7cb342 !important;
		border-color: #7cb342 !important;
	}

	.bookings {
		text-align: center;
		padding-top: 20px;
	}

	button[data-v-75dcf710],
	input[data-v-75dcf710],
	select[data-v-75dcf710],
	textarea[data-v-75dcf710] {
		background-color: transparent;
		border-style: none;
		color: inherit;
		width: 200px;
		border: 1px, solid, #7cb342 !important;
		border: 1px solid #7cb342 !important;
		margin-top: 10px;
	}

	h1,
	h2 {
		font-weight: normal;
	}

	ul {
		list-style-type: none;
		padding: 0;
	}

	li {
		display: inline-block;
		margin: 0 10px;
	}

	a {
		color: #42b983;
	}
</style>