<template>
  <div id="app">
    <v-app>
      <v-content>
       
        <router-view></router-view>
      </v-content>
    </v-app>
  </div>
</template>


<script>
import AuthenticationService from "@/services/AuthenticationService";
export default {
  name: "app",
  data() {
    return {
      msg: "Place booking",
       e1: 0
    };
  }
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
