{% for item in menu %}
	<li class="nav-item dropdown">
		<a class="nav-link" target="{{ item.target }}" href="{{ item.link }}"
		 data-toggle="" aria-haspopup="true" aria-expanded="false"
		 >{{ item.title }}</a>
		{# {% include "menu.twig" with {'menu': item.get_children} %} #}
	{% if item.children %}
		<div class="dropdown-menu" aria-labelledby="dropdown04">
			{% for child in item.children %}
				<a class="dropdown-item" href="{{ child.link }}">{{ child.title }} </a>
			{% endfor %}
		</div>
    {% endif %}
	</li>
{% endfor %}
