{% extends "base.twig" %} 

{% block content %}
<div class="container">
    <div class="row">
        {# looping through external JSON #}
        {% for prop in property %}
        <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            {# <img src="{{port.thumbnail.src}}" alt="Image for {{port.title}}" /> #}
            <img src="http://placekitten.com/g/600/500">
            <div class="card-body">
            <p class="card-text"><h1> {{ prop.name }}</h1>
            <br> Summary: {{ prop.preview.read_more("Continue Reading").length(50).force.strip(false) }}
            <br> Sleeps: {{ prop.occupancy[0] }}
            {# <br> From: {{ £1 }} #}
            {# {{ prop | print_r }} #}
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <a class="btn btn-primary" href="{{ prop.link }}" role="button">View</a>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                {# <input type="date"> #}
                </div>
                <small class="text-muted">9 mins</small>
            </div>
            </div>
        </div>
        </div>
        {% endfor %}

    </div>
  
</div>
{% endblock %}